.noembed-amazon {
  padding: 10px;
  border: 1px solid #ddd;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #fff;
  overflow: hidden;
}

.noembed-amazon img {
  float: left;
  margin-right: 10px;
  background: #efefef;
  border: 1px solid #ddd;
}

.noembed-amazon h2 {
  margin: 0;
  font-size: 1.2em;
}

.noembed-amazon a {
  text-decoration: none;
}

.noembed-amazon ul {
  overflow: hidden;  
  padding: 0;
  margin: 0;
  margin-top: 0.2em;
}

.noembed-amazon ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  color: #bbb;
  font-weight: bold;
  font-size: 0.8em;
}

.noembed-amazon p {
  margin: 0;
  padding: 0;
  margin-top: 0.8em;
}
