.noembed-arscomment {
  font-size: 12px;
  border: 1px solid #ddd;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #fff;
  color: #000;
  max-width: 600px;
}

.noembed-arscomment .body {
  padding: 10px;
  background: #fafafa;
}

.noembed-arscomment .byline {
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
  padding: 5px 10px;
  color: #fff;
}

.noembed-arscomment div.quotetitle,
.noembed-arscomment div.quotecontent {
  border-left: 5px solid #ccc;
  padding-left: 10px;
  color: #7E8185;
  font-weight: bold;
}

.noembed-arscomment .datetime {
  color: #7E8185;
  float: right;
  font-size: 0.8em;
  margin-left: 10px;
}

.noembed-arscomment .byline > a:last-child {
  float: right;
  font-size: 0.8em;
}
 
