.noembed-arstechnica {
  max-width: 600px;
}

.noembed-arstechnica .body {
  padding: 10px;
  background: #fafafa;
}

.noembed-arstechnica .byline {
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
  padding: 5px 10px;
  color: #fff;
}

.noembed-arstechnica div.quotetitle,
.noembed-arstechnica div.quotecontent {
  border-left: 5px solid #ccc;
  padding-left: 10px;
  color: #7E8185;
  font-weight: bold;
}

.noembed-arstechnica .datetime {
  color: #7E8185;
  float: right;
  font-size: 0.8em;
  margin-left: 10px;
}

.noembed-arstechnica .byline > a:last-child {
  float: right;
  font-size: 0.8em;
}
 
