.noembed-asciiartfarts {
  padding: 0;
  border: none;
}

.noembed-asciiartfarts pre {
  padding: 5px 10px;
  display: block;
  float: left;
  background: #000;
  color: #fff;
  font-weight: bold;  
  margin: 0;
}
