.noembed-facebook {
  max-width: 600px;
}

.noembed-comment-body {
  padding: 10px;
  background: #fafafa;
}

.noembed-comment-byline {
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
  padding: 5px 10px;
  color: #fff;
}

.noembed-comment-timestamp {
  color: #7E8185;
  float: right;
  font-size: 0.8em;
  margin-left: 10px;
}
