.github-commit {
  border-radius: 5px;
  font-size: 12px;
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  border: 1px solid #ccc;
  background: #fff;
}

.github-file {
  border-top: 1px solid #ddd;
  background: #eee;
}

.github-commit-message {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  padding: 5px;
  color: #111;
}

.github-file a {
  color: #111;
  text-decoration: none;
  display: block;
  padding: 3px 5px;
}

.github-file a:hover {
  background: #fff;
}

.github-file pre {
  display: none;
  color: #E6E1DC;
  background: #111111;
  padding: 5px;
  margin: 0 5px;
}

.github-file .synComment    { color: #BC9458 }
.github-file .synConstant   { color: #6D9CDE }
.github-file .synIdentifier { color: #6D9CBE }
.github-file .synStatement  { color: #CC7833 }
.github-file .synPreProc    { color: #E6E1DC }
.github-file .synType       { color: #d75f5f }
.github-file .synSpecial    { color: #DA4939 }
.github-file .synUnderlined { color: #000000 ; text-decoration: underline }
.github-file .synError      { color: #FFC66D ; background: #990000 none }
.github-file .synTodo       { color: #0000FF ; background: #FFFF00 none }
