.rapgenius-embed {
  padding: 10px;
  background: #000;
  color: #000;
}

.rapgenius-embed a {
  color: #fff;
}

.rapgenius-song,
.rapgenius-artist {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.rapgenius-song {
  color: #FF9000;
}

.rapgenius-lyric:before {
  content: "“ ";
  font-size: 32px;
  line-height: 1em;
}

.rapgenius-lyric {
  color: #0076BC;
  font-style: italic;
  font-weight: bold;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 5px 5px 15px 5px;
  margin: 10px 0;
}
