.tweet-embed {
  background-color: #fafafa;
  color: #333;
  border-radius: 5px;
  max-width: 500px;
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
  padding: 10px;
  font-size: 14px;
}
.tweet-embed a {
  text-decoration: none;
}
.tweet-embed a:hover {
  text-decoration: underline;
}
.tweet-embed .tweet-parent {
  font-size: 12px;
}
.tweet-embed .tweet_divider {
  border-top: 1px solid #ddd;
  margin: 0.5em 0 0.8em 0;
  text-align: center;
}
.tweet-embed .tweet-parent p {
  margin: 0;
  margin-top: -0.5em;
  margin-right: 1em;
  line-height: 1em;
  display: inline-block;
  padding: 0 5px;
  color: #bbb;
  background-color: #fafafa;
}
.tweet-embed div.tweet_image img {
  display: block;
}
.tweet-embed div.tweet_image {
  float: left;
  margin-right: 5px;
}
.tweet-embed div.tweet_text {
  clear: both;
  padding: 0.5em 0;
}
.tweet-embed div.tweet_screen_name {
  font-weight: bold;
}
.tweet-embed div.tweet_info,
.tweet-embed div.tweet_name {
  color: #999;
  font-size: 0.9em;
}
.tweet-embed div.tweet_info a,
.tweet-embed div.tweet_info {
  font-size: 0.8em;
  color: #999;
}

