.noembed-twitter {
  border: 1px solid #ddd;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background: #fff;
  color: #000;
  max-width: 500px;
  font-size: 16px;
}
.noembed-twitter a {
  text-decoration: none;
}
.noembed-twitter a:hover {
  text-decoration: underline;
}
.noembed-twitter .tweet-parent {
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  background: #f3f3f3;
  padding: 10px;
}
.noembed-twitter .tweet_main {
  padding: 10px;
}
.noembed-twitter .tweet-parent p {
  margin: 0;
  margin-top: -0.5em;
  margin-right: 1em;
  line-height: 1em;
  display: inline-block;
  padding: 0 5px;
  color: #bbb;
  background-color: #fafafa;
}
.noembed-twitter div.tweet_image img {
  display: block;
}
.noembed-twitter div.tweet_image {
  float: left;
  margin-right: 5px;
}
.noembed-twitter div.tweet_text {
  clear: both;
  padding: 0.5em 0;
}
.noembed-twitter .tweet-parent div.tweet_text {
  padding-bottom: 0;
}
.noembed-twitter .tweet_screen_name {
  font-weight: bold;
  color: #000;
}
.noembed-twitter .tweet_real_name {
  font-weight: normal;
  font-size: 12px;
  color: #999;
}

.noembed-twitter div.tweet_info a,
.noembed-twitter div.tweet_info {
  font-size: 12px;
  color: #999;
}

