.noembed-wikipedia {
  padding: 5px 10px;
}

.noembed-wikipedia p {
  margin: 0.5em 0;
  line-height: 1.4em;
}

.noembed-wikipedia sup {
  line-height: 0px;
}

.noembed-wikipedia div.tright,
.noembed-wikipedia div.floatright,
.noembed-wikipedia table.floattright {
  float: right;
  clear: right;
}

.noembed-wikipedia div.tright {
  margin: .5em 0 1.3em 1.4em;
}
