? my ($url) = @_;

<object id="" codebase="http://www.apple.com/qtactivex/qtplugin.cab#version=7,3,0,0" width="848" height="352" classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" class=" quicktime">
<param value="<?= $url ?>" name="src">
<param value="transparent" name="wmode">
<param value="false" name="showlogo">
<param value="tofit" name="scale">
<param value="true" name="saveembedtags">
<param value="true" name="postdomevents">
<embed src="<?= $url ?>" type="video/quicktime" wmode="transparent" postdomevents="true" controller="true" showlogo="false" scale="tofit" width="848" height="352" airplay="allow" style="width: 848px; height: 352px; ">
</embed>
<param value="true" name="controller">
<param value="http://trailers.apple.com/trailers/global/elements/quicktime/qt_endstate640x400.jpg" name="posterframe">
<param value="false" name="showlogo">
<param value="true" name="autostart">
<param value="true" name="cache">
<param value="black" name="bgcolor">
<param value="false" name="aggressivecleanup">
</object>
