? my $comment = shift;

<div class="noembed-comment-byline">
  <span class="noembed-comment-author">
    <a href="https://www.facebook.com/<?= $comment->{from}{id} ?>"><?= $comment->{from}{name} ?></a>
  </span>
  <span class="noembed-comment-timestamp"><?= $comment->{updated_time} ?></span>
? if (exists $comment->{likes}{count} and $comment->{likes}{count} > 0) {
  <span class="noembed-comment-likes"><?= $comment->{likes}{count} ?></span>
? }
</div>

<div class="noembed-comment-body">
?= $comment->{message}
</div>
