? my ($gist) = @_;

? if ($gist->{description}) {
  <h2 class="gist-description">
    <? if ($gist->{user}{login}) { ?>
      <a href="<?= $gist->{user}{html_url} ?>" class="gist-user" target="_blank"><?= $gist->{user}{login} ?></a>
    <? } ?>
    <a href="<?= $gist->{html_url} ?>" target="_blank"><?= $gist->{description} ?></a>
  </h2>
? }
? for my $file (values %{$gist->{files}}) {
  <h3>
    <? if ($gist->{language}) { ?>
      <span class="gist-language"><?= $file->{language} ?></span>
    <? } ?>
    <?= $file->{filename} ?>
  </h3>
  <div class="gist-file">
    <?= $file->{content} ?>
  </div>
? }
