? my $gist = shift;

<div class="gist-embed">
  <h2 class="gist-description">
    <a href="<?= $gist->{user}{url} ?>" class="gist-user"><?= $gist->{user}{login} ?></a>
    <a href="<?= $gist->{html_url} ?>"><?= $gist->{description} ?></a>
  </h2>
? for my $file (values %{$gist->{files}}) {
? my $js = "var f = this.nextSibling; f.style.display = (f.style.display != 'block' ? 'block' : 'none'); return false;";
  <div class="gist-file">
    <a href="<?= $file->{raw_url} ?>" onclick="<?= $js ?>"><?= $file->{filename} ?></a><?= $file->{content} ?>
  </div>
? }
</div>
