? my $gist = shift;

<div class="gist-embed">
? if ($gist->{description}) {
  <h2 class="gist-description">
    <a href="<?= $gist->{user}{url} ?>" class="gist-user" target="_blank"><?= $gist->{user}{login} ?></a>
    <a href="<?= $gist->{html_url} ?>" target="_blank"><?= $gist->{description} ?></a>
  </h2>
? }
? for my $file (values %{$gist->{files}}) {
? if ($gist->{description}) {
    <h3><?= $file->{filename} ?></h3>
? }
? else {
    <h3>
      <a href="<?= $gist->{html_url} ?>" target="_blank"><?= $file->{filename} ?></a>
      <a href="<?= $gist->{user}{url} ?>" class="gist-user" target="_blank"><?= $gist->{user}{login} ?></a>
    </h3>
? }

  <div class="gist-file">
    <?= $file->{content} ?>
  </div>
? }
</div>
