? my $commit = shift;

<div class="github-commit" id="commit-<?= $commit->{sha} ?>">
  <h2 class="github-commit-message">
    <a href="<?= $commit->{author}{url} ?>" class="github-commit-author"><?= $commit->{author}{login} ?></a>
    <a href="<?= $commit->{commit}{url} ?>"><?= $commit->{commit}{message} ?></a>
  </h2>
? for my $file (@{$commit->{files}}) {
  <div class="github-file">
    <a href="<?= $file->{blob_url} ?>" class="github-file-link"><?= $file->{filename} ?></a><pre><?= $file->{patch} ?></pre>
  </div>
? }
</div>

<script type="text/javascript">
  var commit = document.getElementById("commit-<?= $commit->{sha} ?>");
  commit.addEventListener("click", function(e) {
    if (e.target.className == "github-file-link") {
      e.preventDefault();
      var pre = e.target.nextSibling;
      if (pre.style.display != "block") {
        pre.style.display = "block";
      }
      else {
        pre.style.display = "none";
      }
    }
  }, false);
</script>
