? my $commit = shift;

<div class="github-commit" id="commit-<?= $commit->{sha} ?>">
  <h2 class="github-commit-message">
    <a href="<?= $commit->{author}{url} ?>" class="github-commit-author"><?= $commit->{author}{login} ?></a>
    <a href="<?= $commit->{commit}{url} ?>"><?= $commit->{commit}{message} ?></a>
  </h2>
? for my $file (@{$commit->{files}}) {
? my $js = "var f = this.nextSibling.toggleClassName('visible'); return false;";
  <div class="github-file">
    <a href="<?= $file->{blob_url} ?>" onclick="<?= $js ?>"><?= $file->{filename} ?></a><?= $file->{patch} ?>
  </div>
? }
</div>
