? my ($id, $tweet) = @_;
? my $user = $tweet->{user};

<div class="tweet_main">
  <div class="tweet_user">
    <div class="tweet_image">
      <a href="http://www.twitter.com/<?= $user->{screen_name} ?>" target="_blank">
        <img height="36" width="36" src="<?= $user->{profile_image_url} ?>">
      </a>
    </div>
    <div class="tweet_name">
      <a href="http://www.twitter.com/<?= $user->{screen_name} ?>" target="_blank">
        <span class="tweet_screen_name"><?= $user->{name} ?></span><br>
        <span class="tweet_real_name"><?= $user->{screen_name} ?></span>
      </a>
    </div>
  </div>
  <div class="tweet_text">
    <?= $tweet->{text} ?>
? if ($tweet->{entities}{media}) {
?   for my $image (grep {$_->{type} eq "photo"} @{$tweet->{entities}{media}}) {
<p><img width="<?= $image->{sizes}{small}{w} ?>" height="<?= $image->{sizes}{small}{h} ?>" src="<?= $image->{media_url_https} ?>"></p>
?   }
? }
  </div>
  <div class="tweet_info">
    <a target="_blank" href="http://www.twitter.com/<?= $user->{screen_name}?>/status/<?= $tweet->{id} ?>">
      <span class="tweet_created_at" id="noembed-timestamp-<?= $id ?>"><?= $tweet->{created_at} ?></span>
    </a>
    via <?= $tweet->{source} ?>
  </div>
</div>

<script type="text/javascript">
  var months = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sept','Oct','Nov','Dec'];
  var elem = document.getElementById("noembed-timestamp-<?= $id ?>");
  var date = new Date(elem.innerHTML);

  if (date) {
    var hours = date.getHours();
    var minutes = date.getMinutes();
    if (minutes < 10) minutes = "0"+minutes.toString();

    elem.innerHTML =  hours + ":" + minutes+ " " + (months[date.getMonth()])
                   + " " + date.getDate() + ", " + date.getFullYear();
  }
</script>
