? my $data = $_[0];
? my $id = $data->{id};
? my $user = $data->{user};

<div class="tweet-embed" id="tweet-<?= $id ?>">
  <div class="tweet_user">
    <div class="tweet_image">
      <a href="http://www.twitter.com/<?= $user->{screen_name} ?>" target="_blank">
        <img height="32" src="<?= $user->{profile_image_url} ?>">
      </a>
    </div>
    <div class="tweet_screen_name">
      <a href="http://www.twitter.com/<?= $user->{screen_name} ?>" target="_blank">
        @<?= $user->{screen_name} ?>
      </a>
    </div>
    <div class="tweet_name"><?= $user->{name} ?></div>
  </div>
  <div class="tweet_text"><?= $data->{text} ?></div>
  <div class="tweet_info">
    <a target="_blank" href="http://www.twitter.com/<?= $user->{screen_name}?>/status/<?= $id ?>"><span class="tweet_created_at"><?= $data->{created_at} ?></span></a>
    via <?= $data->{source} ?>
  </div>
<div>

<script type="text/javascript">
  var months = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sept','Oct','Nov','Dec'];
  var elem = document.getElementById("tweet-<?= $id ?>").down(".tweet_created_at");
  var date = new Date(elem.innerHTML);

  if (date) {
    var hours = date.getHours() + 1;
    var minutes = date.getMinutes();
    if (minutes < 10) minutes = "0"+minutes.toString();

    elem.innerHTML =  hours + ":" + minutes+ " " + (months[date.getMonth()])
                   + " " + date.getDate() + ", " + date.getFullYear();
  }
</script>
