? my ($provider, $res) = @_;
? my $truncated = do {
?   length $res->{url} > 50 ? substr($res->{url}, 0, 50) : $res->{url};
? };

<div class="noembed-embed ">
  <div class="noembed-wrapper">
    <?= Noembed::Util->html($res->{html}) ?>
    <table class="noembed-meta-info">
      <tr>
        <td><?= $provider->provider_name ?></td>
        <td align="right">
          <a title="<?= $res->{url} ?>" href="<?= $res->{url} ?>"><?= $truncated ?></a>
        </td>
      </tr>
    </table>
  </div>
</div>
