? my ($provider, $res) = @_;
? my $truncated = do {
?   length $res->{url} > 50 ? substr($res->{url}, 0, 50) . "…" : $res->{url};
? };

<div class="noembed-embed ">
  <div class="noembed-wrapper">
    <div class="noembed-embed-inner noembed-<?= lc $provider->filename ?>">
      <?= Noembed::Util::html($res->{html}) ?>
    </div>
    <table class="noembed-meta-info">
      <tr>
        <td class="favicon"><img src="https://noembed.com/favicon/<?= $provider->filename("png") ?>"></td>
        <td><?= $provider->provider_name ?></td>
        <td align="right">
          <a title="<?= $res->{url} ?>" href="<?= $res->{url} ?>"><?= $truncated ?></a>
        </td>
      </tr>
    </table>
  </div>
</div>
